@model ExpenseManagement.Models.DeleteModel

<div class="modal fade" id="deleteTransactionModal" tabindex="-1" role="dialog" aria-labelledby="deleteTransactionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteTransactionModalLabel">Delete Transaction</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="deleteTransactionForm" method="post">
                    <input type="hidden" id="deleteTransactionId" name="Id" asp-for="Id"/>
                    <p id="text">Are you sure you want to delete this transaction?</p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="confirmDeleteTransaction" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>
